h1 {
    color: green;
    font-weight: bold;
  }
  div {
    color: lightblue;
  }

  p {
    color: yellow;
  }
h2 {
    color: aqua;
}
h3 {
    color: aqua;
}
h4 {
    color: aqua;
}
body {
    background-color: black;
}
